.MealList {
    padding: 70px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    min-height: calc(100vh - 150px);
}

@media screen and (max-width:465px) {
    .MealList {
        padding: 30px 10%;
    }
}