.Header {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF0000;
    ;

    &-logo {
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
    }
}

@media screen and (max-width:500px) {
    .Header {
        padding: 0 10px;
        justify-content: center;
    }
}