.Footer {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FF0000;

    &-github {
        color: #fff;
        font-weight: bold;
        display: flex;
        align-items: center;
        transition: .2s ease-in-out;

        img {
            margin-right: 5px;
            height: 35px;
            width: 35px;
        }
    }

    &-github:hover {
        transform: scale(0.95);
    }
}

@media screen and (max-width:640px) {
    .Footer {
        padding: 0 10px;
        justify-content: space-between;
    }
}

@media screen and (max-width:465px) {
    .Footer {
        height: auto;
        padding: 10px;
        flex-direction: column;
        gap: 10px;
    }
}